<div class="card-container" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center" style=" overflow:hidden;">
  <div class="allnotes" (click)="openDialog()" mat-card fxFlex="400px">

    <div class="writeNotes1">
      <mat-form-field>
        <input contenteditable="true" matInput [(ngModel)]="data.title">
      </mat-form-field>
      <mat-form-field>
        <input contenteditable="true" matInput [(ngModel)]="data.note">
      </mat-form-field>
      <div class="updatebtn">
        <button matTooltip="Save Note" mat-button mat-raised-button type="submit" (click)="updateNote(data,data._id)">Done</button>
      </div>
    </div>
  </div>


  <!-- <mat-form-field>
  <input matInput placeholder="Title" type="text" value="{{data.title}}" name="title" [(ngModel)]= "model.title" >
 </mat-form-field>
 <mat-form-field>
  <input matInput placeholder="Take a note" type="text" value="{{data.note}}" name="note" [(ngModel)]= "model.note">
 </mat-form-field> -->


  </div>
