

<div class="card-container" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="space-around center">
  <div class="allnotes" *ngFor="let data of dashDataFirst.reverse()"  >
  <div *ngIf="data.is_archieved">
  <mat-card class="writeNotes1"  [ngClass]="{'writeNotes2':isClassVisible}" [style.background]="data.note_color">
          <div (click)="openDialog(data)">
              <p>{{data.title}}</p>
              <p [innerHTML]="data.note"></p>
              <div  *ngIf="data.note_chip || data.reminder">
                 <mat-form-field class="demo-chip-list">
                   <mat-chip-list>
                  <mat-chip  [removable]="removable" (remove)="remove(data)">
                    <p>{{data.note_chip}}</p>
                    <p>{{data.reminder}}</p>
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  </mat-chip-list>
                </mat-form-field>
              </div>
          </div>
           <div class="imageNotes" [style.background]="data.note_color">
             <img class="img-responsive" matTooltip="remind me" matTooltipShowDelay="100" style="width: 22px;margin-left: 12px" src="assets/icon/remind me.svg"  [matMenuTriggerFor]="menu2">
             <mat-menu #menu2="matMenu">
                 <button mat-menu-item style="word-spacing: 30px;" (click)="chipShow(data,'Later Today 20.00')">LaterToday  20.00</button>
                 <button mat-menu-item  style="word-spacing: 30px;" (click)="chipShow(data,'Tommorrow 08.00')">Tommorrow  08.00</button>
                  <button mat-menu-item  style="word-spacing: 30px;" (click)="chipShow(data,'NextWeek  Mon,08.00')" >NextWeek   Mon,08.00</button>
                  <button mat-menu-item  [matMenuTriggerFor]="menu3"><img class="img-responsive"  style="width:18px;" src="assets/icon/watch.svg" >select date and time</button>
                <mat-menu #menu3="matMenu">
                  Date Time:
                  <input [(ngModel)]="invalidMoment"
                  [min]="min" [max]="max"
                  [owlDateTimeTrigger]="dt11" [owlDateTime]="dt11"
                  #dateTime="ngModel" name="reminder"  [(ngModel)]="model.reminder" required/>
                  <owl-date-time #dt11></owl-date-time>
                <div fxLayout="row" fxLayoutAlign="end center" style="margin-top:5px;">
                <button  mat-button mat-raised-button color="primary" type="submit" (click)="submitReminder(data)" style="font-size: 10px;">save</button>
                 </div>
            </mat-menu>

         </mat-menu>
            <img class="img-responsive" matTooltip="collabrator" matTooltipShowDelay="100" style="width: 22px;margin-left: 12px" src="assets/icon/collabrator.svg">
            <img class="img-responsive" matTooltip="color change" matTooltipShowDelay="100"  style="width: 22px;margin-left: 12px" src="assets/icon/color change.svg" [matMenuTriggerFor]="menu1">
              <mat-menu #menu1="matMenu">
                   <div>
                     <button class="dot" style="background-color:green;" (click)="changeColor(data,'green')"></button>
                       <button class="dot"  style="background-color:red;" (click)="changeColor(data,'red')" ></button>
                       <button class="dot"  style="background-color:yellow;" (click)="changeColor(data,'yellow')"></button>
                       <button class="dot"  style="background-color:orange;" (click)="changeColor(data,'orange')" ></button>
                       <button class="dot"  style="background-color:blue;" (click)="changeColor(data,'blue')"></button>
                     </div>
                     <div>
                       <button class="dot"  style="background-color:Teal;" (click)="changeColor(data,'Teal')"></button>
                       <button class="dot"  style="background-color:grey;" (click)="changeColor(data,'grey')"></button>
                       <button class="dot"  style="background-color:purple;"(click)="changeColor(data,'purple')"></button>
                       <button class="dot"  style="background-color:brown;" (click)="changeColor(data,'brown')"></button>
                      <button class="dot"  style="background-color:pink;" (click)="changeColor(data,'pink')"></button>
                   </div>
          </mat-menu>
            <img class="img-responsive" matTooltip="image  add" matTooltipShowDelay="100" style="width: 22px;margin-left: 12px" src="assets/icon/image  add.svg">
            <img class="img-responsive" matTooltip="unarchive" matTooltipShowDelay="100"  style="width: 22px;margin-left: 10px" (click)="archiveNotes(data)" src="assets/icon/archive.svg">

              <img class="img-responsive" matTooltip="more" matTooltipShowDelay="100" style="width:22px;margin-left: 12px" src="assets/icon/more.svg"  [matMenuTriggerFor]="menu">
              <mat-menu #menu="matMenu" >
                     <button mat-menu-item type="submit" (click)="deleteNote(data._id)" style="font-size: 13px;">Delete note</button>
              </mat-menu>
        </div>
    </mat-card>
</div>
  </div>
</div>
