
<!-- <mat-drawer-container class="sidenav-container"  style="background-color:#d8d8d8;height:900px">
    <div class="container" >
    <div  style="margin-left:100px" >
    <!------------------------- archieve NOTES--------- -->
    <!-- <div class="card card-1" *ngFor="let data of dashDataFirst.reverse()">
         <div *ngIf="data.is_archieve">
           <mat-card class="writeNotes1"  [ngClass]="{'writeNotes2':isClassVisible}">
                   <div (click)="openDialog(data)">
                       <p>{{data.title}}</p>
                       <p>{{data.note}}</p>
                   </div>
                   <div class="imageNotes">
                       <img class="img-responsive" matTooltip="more" matTooltipShowDelay="100" style="width:22px;margin-left: 12px" src="assets/icon/more.svg"  [matMenuTriggerFor]="menu">
                       <mat-menu #menu="matMenu" >
                              <button mat-menu-item type="submit" (click)="deleteNote(data)" style="font-size: 13px;">Delete note Forever</button>
                              <button mat-menu-item type="submit" (click)="untrashNotes(data)" style="font-size: 13px;">Restore note</button>
                       </mat-menu>
                 </div>
             </mat-card>
        </div>
      </div>
     </div>
</div>
</mat-drawer-container> -->

<div class="card-container" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="space-around center">
  <div class="allnotes" *ngFor="let data of dashDataFirst.reverse()"  >
  <div *ngIf="data.is_archieved">
  <mat-card class="writeNotes1"  [ngClass]="{'writeNotes2':isClassVisible}">
          <div (click)="openDialog(data)">
              <p>{{data.title}}</p>
              <p>{{data.note}}</p>
          </div>
           <div class="imageNotes">
            <img class="img-responsive" matTooltip="remind me" matTooltipShowDelay="100" style="width: 22px;margin-left: 12px" src="assets/icon/remind me.svg">
            <img class="img-responsive" matTooltip="collabrator" matTooltipShowDelay="100" style="width: 22px;margin-left: 12px" src="assets/icon/collabrator.svg">
            <img class="img-responsive" matTooltip="color change" matTooltipShowDelay="100"  style="width: 22px;margin-left: 12px" src="assets/icon/color change.svg">
            <img class="img-responsive" matTooltip="image  add" matTooltipShowDelay="100" style="width: 22px;margin-left: 12px" src="assets/icon/image  add.svg">
            <img class="img-responsive" matTooltip="unarchive" matTooltipShowDelay="100"  style="width: 22px;margin-left: 10px" (click)="unarchievedNotes(data)" src="assets/icon/archive.svg">

              <img class="img-responsive" matTooltip="more" matTooltipShowDelay="100" style="width:22px;margin-left: 12px" src="assets/icon/more.svg"  [matMenuTriggerFor]="menu">
              <mat-menu #menu="matMenu" >
                     <button mat-menu-item type="submit" (click)="deleteNote(data._id)" style="font-size: 13px;">Delete note</button>
              </mat-menu>
        </div>
    </mat-card>
</div>
  </div>
</div>
