.form1
{
  fxFlexAlign:center;
  font-size: 30px;
}
.form2
{
  fxFlexAlign:center;
  font-size: 30px;
  padding-left: 560px;
}
.full_width
{
 padding-top:10px;
 padding-left: 330px;
 width: 60%;
}

.title-center {
  margin: 0 auto;
 }
 .submit
 {
   size:20%;
   display: block;
   width: 30px;
   height: 4em;
   font-size:20px;
   padding-left: 330px;

 }
