<!-- <img class="Gridlayout" (click)="isClassVisible = !isClassVisible;" matTooltip="List View" matTooltipShowDelay="100" style="margin-left: 872px;width:40px;" src="assets/icon/List View.svg"> -->
 <!-- <app-home>  </app-home>  -->
<mat-sidenav-content>
  <div *ngIf="!showHide" >
  <p *ngFor="let content of fillerContent">{{content}}</p>
 <!-- take note here -->
  <div  class="notes"  (click)="toggle1()" id="bt" *ngIf="!show">
      <div  fxLayoutWrap fxLayoutAlign="space-around center"> Take a note...</div>
  </div>

     <!-- create note here -->
    <div class="writeNotes" id="bt" *ngIf="show">
    <div  class="example-full-width1" style="width=100%">
    <mat-form-field>
     <input matInput placeholder="Title" type="text" value="Title" name="title" [(ngModel)]= "model.title" >
    </mat-form-field>
    </div>

    <div class="example-full-width1" style="width=100%">
      <mat-form-field>
       <input matInput placeholder="Take a note" type="text" value="Take a note" name="note" [(ngModel)]= "model.note">
      </mat-form-field>
    </div>
    <div>
    <button matTooltip="Done" matTooltipShowDelay="100" mat-button mat-raised-button type="submit" (click)="!toggle1();submitNote()"  >Done</button>
    </div>
    </div>

<!-- note create here -->


<div class="card-container" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="space-around center">
  <div class="note" fxLayout="row" fxLayoutAlign=" none" ><h3>notes</h3></div>
  <div class="allnotes"  *ngFor="let data of dashDataFirst.reverse()" >
  <div *ngIf= "!data.is_deleted && !data.is_archieved && data.is_pinned">
   <mat-card class="writeNotes1"  [ngClass]="{'writeNotes2':isClassVisible}"   >

     <img class="img-responsive" matTooltip="remind me" (click)="unpinNotes(data)"  matTooltipShowDelay="100" style="width: 22px;margin-left: 12px" src="assets/icon/unpin.png">
          <div (click)="openDialog(data)">
              <p>{{data.title}}</p>
              <p>{{data.note}}</p>
          </div>
          <div class="imageNotes">
              <img class="img-responsive" matTooltip="remind me" matTooltipShowDelay="100" style="width: 22px;margin-left: 12px" src="assets/icon/remind me.svg">
              <img class="img-responsive" matTooltip="collabrator" matTooltipShowDelay="100" style="width: 22px;margin-left: 12px" src="assets/icon/collabrator.svg">
              <img class="img-responsive" matTooltip="color change" matTooltipShowDelay="100"  (click)="changeColor(data)"  style="width: 22px;margin-left: 12px" src="assets/icon/color change.svg" [matMenuTriggerFor]="menu1">
              <mat-menu #menu1="matMenu">
                   <div>
                     <button class="dot" style="background-color:green;" (click)="changeColor(data,'green')"></button>
                       <button class="dot"  style="background-color:red;" (click)="changeColor(data,'red')" ></button>
                       <button class="dot"  style="background-color:yellow;" (click)="changeColor(data,'yellow') "></button>
                       <button class="dot"  style="background-color:orange;" (click)="changeColor(data,'orange')" ></button>
                       <button class="dot"  style="background-color:blue;" (click)="changeColor(data,'blue')"></button>
                     </div>
                     <div>
                       <button class="dot"  style="background-color:Teal;" (click)="changeColor(data,'Teal')"></button>
                       <button class="dot"  style="background-color:grey;" (click)="changeColor(data,'grey')"></button>
                       <button class="dot"  style="background-color:purple;"(click)="changeColor(data,'purple')"></button>
                       <button class="dot"  style="background-color:brown;" (click)="changeColor(data,'brown')"></button>
                      <button class="dot"  style="background-color:pink;" (click)="changeColor(data,'pink')"></button>
                   </div>
          </mat-menu>
              <img class="img-responsive" matTooltip="image  add" matTooltipShowDelay="100" style="width: 22px;margin-left: 12px" src="assets/icon/image  add.svg">
              <img class="img-responsive" matTooltip="archive" matTooltipShowDelay="100" (click)="archiveNotes(data)" style="width: 22px;margin-left: 10px"src="assets/icon/archive.svg">
              <img class="img-responsive" matTooltip="more" matTooltipShowDelay="100" style="width:22px;margin-left: 12px" src="assets/icon/more.svg"  [matMenuTriggerFor]="menu">
              <mat-menu #menu="matMenu" >
                     <button mat-menu-item type="submit" (click)="trashNotes(data)" style="font-size: 13px;">Delete note</button>
                     <button mat-menu-item type="submit" (click)="copyNote(data)" style="font-size: 13px;">copy note</button>
              </mat-menu>
        </div>
    </mat-card>
  </div>
  </div>
  </div>

  <div class="other" fxLayout="row" fxLayoutAlign=" none" ><h3>other</h3></div>
  <div class="card-container" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="space-around center">
  <!-- <div class="other"><b>other</b></div> -->
  <div class="allnotes" *ngFor="let data of dashDataFirst.reverse()" >
  <div *ngIf= "!data.is_deleted && !data.is_archieved && !data.is_pinned">
   <mat-card class="writeNotes1"  [ngClass]="{'writeNotes2':isClassVisible}"  [style.background]="data.note_color">
     <img class="img-responsive" matTooltip="remind me" (click)="pinNotes(data)"  matTooltipShowDelay="100" style="width: 22px;margin-left: 12px" src="assets/icon/pin.svg">
          <div (click)="openDialog(data)"  >
              <p>{{data.title}}</p>
              <p>{{data.note}}</p>
               <p>{{data.note_color}}</p>
          </div>
          <div class="imageNotes" [style.background]="data.note_color">
              <img class="img-responsive" matTooltip="remind me" matTooltipShowDelay="100" style="width: 22px;margin-left: 12px" src="assets/icon/remind me.svg">
              <img class="img-responsive" matTooltip="collabrator" matTooltipShowDelay="100" style="width: 22px;margin-left: 12px" src="assets/icon/collabrator.svg">
              <img class="img-responsive" matTooltip="color change" matTooltipShowDelay="100"  style="width: 22px;margin-left: 12px" src="assets/icon/color change.svg" [matMenuTriggerFor]="menu1">
              <mat-menu #menu1="matMenu">
                   <div>
                     <button class="dot" style="background-color:green;" (click)="changeColor(data,'green')"></button>
                       <button class="dot"  style="background-color:red;" (click)="changeColor(data,'red')" ></button>
                       <button class="dot"  style="background-color:yellow;" (click)="changeColor(data,'yellow') "></button>
                       <button class="dot"  style="background-color:orange;" (click)="changeColor(data,'orange')" ></button>
                       <button class="dot"  style="background-color:blue;" (click)="changeColor(data,'blue')"></button>
                     </div>
                     <div>
                       <button class="dot"  style="background-color:Teal;" (click)="changeColor(data,'Teal')"></button>
                       <button class="dot"  style="background-color:grey;" (click)="changeColor(data,'grey')"></button>
                       <button class="dot"  style="background-color:purple;"(click)="changeColor(data,'purple')"></button>
                       <button class="dot"  style="background-color:brown;" (click)="changeColor(data,'brown')"></button>
                      <button class="dot"  style="background-color:pink;" (click)="changeColor(data,'pink')"></button>
                   </div>
          </mat-menu>
              <img class="img-responsive" matTooltip="image  add" matTooltipShowDelay="100" style="width: 22px;margin-left: 12px" src="assets/icon/image  add.svg">
              <img class="img-responsive" matTooltip="archive" matTooltipShowDelay="100" (click)="archiveNotes(data)" style="width: 22px;margin-left: 10px"src="assets/icon/archive.svg">
              <img class="img-responsive" matTooltip="more" matTooltipShowDelay="100" style="width:22px;margin-left: 12px" src="assets/icon/more.svg"  [matMenuTriggerFor]="menu">
              <mat-menu #menu="matMenu" >
                     <button mat-menu-item type="submit" (click)="trashNotes(data)" style="font-size: 13px;">Delete note</button>
                     <button mat-menu-item type="submit" (click)="copyNote(data)" style="font-size: 13px;">copy note</button>
              </mat-menu>
        </div>
    </mat-card>
</div>
  </div>
</div>
</div>
</mat-sidenav-content>
