.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fafafa;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  background-color: #fafafa;
}
.mat-toolbar.mat-primary {
    background: #fb0;
    color: #000;
}

h1.example-app-name {
  margin-left: 8px;

}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  background-color: #fafafa;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
  background-color: #fafafa;
}

.cropcircle {
width: 35px;
height: 35px;
border-radius: 100%;
background: #eee no-repeat center;
background-size: cover;
}

.profile
{
  margin-top:-50px;
  width: 240px;
  height: 165px;
  flex: 1 0 auto;
}


.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 24px;
    border-radius: 2px;
    width: 250px;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-user-modify: read-only;
    direction: ltr;
    unicode-bidi: isolate;
    -webkit-user-modify: read-only;
     direction: ltr;
     unicode-bidi: isolate
  }
