<div   class="example-container" style="background-color: Gray;" [class.example-is-mobile]="mobileQuery.matches" >


  <mat-toolbar  color="primary" class="example-toolbar" *ngFor="let user of Users" appColor>
    <!-- <div [appColorDirective]="color"> -->
   <div fxFlex="100"  fxLayout="row" fxLayoutAlign="center center">
     <div  fxLayout="row" fxFlex.lg="" fxFlex.md="" fxFlex.sm="" fxFlex.xs="">
       <div>
         <button mat-button matTooltip="main menu" matTooltipShowDelay="100" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
       </div>
        <div >
           <h1  matTooltip="Google keep" matTooltipShowDelay="100" class="example-app-name">Google keep</h1>
        </div>
        <!-- <p [appHighlight]="color">Highlight me!</p> -->
       </div>

      <div fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="50">

        <!-- <p>{{values}}</p> -->
      </div>

         <!-- <div fxFlex.lg="30" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20">
         </div> -->
    <div fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="10" fxFlex.xs="10" fxLayout="row">
      <div>
      <!-- <img class="Gridlayout" (click)="isClassVisible = !isClassVisible;" matTooltip="List View" matTooltipShowDelay="100" style="width:40px;" src="assets/icon/List View.svg"> -->
      <img class="Gridlayout" (click)="changeCSS()" matTooltip="List View" matTooltipShowDelay="100" style="width:40px;" src="assets/icon/List View.svg">
     </div>
     <div>
     <img [src]='"http://localhost:3000/"+user.image' class="cropcircle" fxLayout="row"  fxLayoutAlign="start" [matMenuTriggerFor]="menu"  fxLayoutAlign="end"/>
     <mat-menu #menu="matMenu">

    <div class="profile"  fxLayoutAlign="center center" mat-menu-item>
    <img [src]='"http://localhost:3000/"+user.image' class="cropcircle1" style="width: 100px; height:100px ;border-radius: 100%; margin-top: 65px; background: #eee no-repeat center; background-size: cover;" (click)="openDialogImage(user)" />
    </div>
    <hr>
    <div>
    <p><b>{{user.username}}</b></p>
    <p><b>{{user.email}}</b></p>
    </div>
    <hr>
     <div  class="profile1" style="width: 240px; height:40px" fxLayout="row" fxLayoutAlign="end end" mat-menu-item >
     <button  matTooltip="logout" matTooltipShowDelay="100"   mat-button mat-raised-button color="primary" (click)="logout()" >Logout</button>
   </div>
     </mat-menu>
   </div>
    <!-- <button matTooltip="logout" fxFlex fxLayout="row" fxLayoutAlign="end" matTooltipShowDelay="100" mat-icon-button (click)="logout()">Logout</button> -->
 </div>
</div>
<!-- </div> -->

    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" fxLayout="column">
      <div fxFlex="100"  fxLayout="row" fxLayoutAlign="center center">
        <div   fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20">
        </div>
        <div   fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="20">
         <h2>Admin Window</h2>
        </div>
     </div>

    <div  fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
      <div profileCard  fxLayout="column" fxLayoutGap="25px" *ngFor="let user of usersArray">
       <div fxFlex="25">
        </div>
      <div fxFlex="50">
     <mat-card>
    <div  fxLayout="row" fxLayoutAlign="center center">
     <div>
       <div  *ngIf="user.image; else elseImageBlock">
         <img  class="cropcircle" style="width: 100px; height:100px ;border-radius: 100%; margin-top: 25px; background: #eee no-repeat center; background-size: cover;" [src]='urlImage+user.image' height="100px" width="250px"/>
       </div>
       <ng-template #elseImageBlock>
         <img  class="cropcircle" style="width: 100px; height:100px ;border-radius: 100%; margin-top: 25px; background: #eee no-repeat center; background-size: cover;" src="assets/icon/person.png" height="100px" width="250px"/>
      </ng-template>
         <p><b>{{user.username}}</b></p>
     </div>
    </div>
   </mat-card>
    </div>
    <div fxFlex="25">
    </div>
    </div>
  </div>




   <!-- <DashboardComponent [values]= values></DashboardComponent> -->
   <!-- <router-outlet></router-outlet> -->
   </mat-sidenav-container>

</div>
