



                                <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                                            [fixedInViewport]="mobileQuery.matches" fixedTopGap="1">
                                 <mat-nav-list>
                                   <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
                                     //left part
                                 </mat-nav-list>
                               </mat-sidenav>

<!--
<mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
             (closed)="events.push('close!')">
  Sidenav content
</mat-sidenav> -->
