.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fafafa;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  background-color: #fafafa;
}
.mat-toolbar.mat-primary {
    background: #fb0;
    color: #000;
}

h1.example-app-name {
  margin-left: 8px;

}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  background-color: #fafafa;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
  background-color: #fafafa;
}


/*mat-menu
{
  width: 350px;
  height: 350px;
}*/

.cropcircle {
width: 35px;
height: 35px;
border-radius: 100%;
background: #eee no-repeat center;
background-size: cover;
}

.profile
{
  margin-top:-50px;
  width: 240px;
  height: 165px;
  flex: 1 0 auto;
}
/*.notes
{
  background-color:rgb(255 , 255, 255);
  margin-top:50px;
  margin-left: 370px;
  height: 35px;
  width:520px;
  font-size: 18px;
  word-wrap: break-word;
}
.writeNotes
{
background-color:rgb(255 , 255, 255);

margin-left: 370px;
margin-top:100px;
width:520px;
font-size: 18px;
word-wrap: break-word;
}
.example-form
{
 margin-top:5px;
 width: 150%;
}
  .writeNotes1
  {
    background-color:rgb(255 , 255, 255);
    /*margin-left: 330px;*/
    /*margin-top:50px;
    width:250px;
    font-size: 18px;
    word-wrap: break-word;

  }*/


  a:hover
  {
  color:red;
  }

  /*.btn{
       background-color:blue;
  }
  .imageNotes
  {
   background-color:rgb(255 , 255, 255);
  }*/*/
/*.card-container
{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 150s;

}*/
.

/*mat-card
{
  width:250px;
}*/
.mat-dialog-container
{
box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  display: block;
  padding: 52px;
  margin-top: 221px;
  border-radius: 2px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 50%;
  margin-left: 22em;
}

.writeNotes2
{
background-color:rgb(255,255,255);
margin-left: 200px;
margin-top:50px;
width:500px;
font-size: 18px;
word-wrap: break-word;
fxLayoutAlign:space-around center;
 /*visibility: hidden;*/
}
