<div class="example-container" style="background-color: Gray;" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar color="primary" class="example-toolbar">
    <button  matTooltip="main menu" matTooltipShowDelay="100" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 matTooltip="Google keep" matTooltipShowDelay="100" class="example-app-name">Google keep</h1>
      <!-- //grid view button -->
       <!-- <div  class="gridView" matTooltip="List View" matTooltipShowDelay="100"  (click)="toggle1()" id="bt1" *ngIf="!show" style="margin-left: 872px;width:45px;" src="assets/icon/List View.svg"> -->
         <!-- <img class="Gridlayout"  (click)="flat=!flat"  style="margin-left: 872px;width:40px;" src="assets/icon/List View.svg"> -->
         <!-- <img class="Gridlayout"  (click)="myClasses='writeNotes2'" style="margin-left: 872px;width:40px;" src="assets/icon/List View.svg"> -->
          <img class="Gridlayout"  (click)="isClassVisible = !isClassVisible;"  matTooltip="List View" matTooltipShowDelay="100"   style="margin-left: 872px;width:40px;" src="assets/icon/List View.svg">
         <button  matTooltip="logout" fxFlex  fxLayout="row"  fxLayoutAlign="end" matTooltipShowDelay="100" mat-icon-button (click)="logout()">Logout</button>

    <div>
</div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                       [style.marginTop.px]="mobileQuery.matches ? 1 : 0">

        <!-- <app-sidenav> </app-sidenav> -->

                                <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                                            [fixedInViewport]="mobileQuery.matches" fixedTopGap="1">
                                 <mat-nav-list>
                                   <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
                                     //left part
                                 </mat-nav-list>
                               </mat-sidenav>

  < !----------------------------------------------------------------- sidenav container logic ---------------------------------------------------------------->
    <mat-sidenav-content>
      <div *ngIf="!showHide" >
      <p *ngFor="let content of fillerContent">{{content}}</p>

      <div  class="notes"  (click)="toggle()" id="bt" *ngIf="!show">
          <div  fxLayoutWrap fxLayoutAlign="space-around center"> Take a note...</div>
      </div>



      <!-- <form class="writeNotes" *ngIf="show" fxLayout="column" fxFlexAlign="auto" #todoForm="ngForm" (ngSubmit)="todoForm.form.valid && submitNote(todoForm.value)"> -->
        <div class="writeNotes" id="bt" *ngIf="show">
        <div  class="example-full-width1" style="width=100%">
        <mat-form-field>
         <input matInput placeholder="Title" type="text" value="Title" name="title" [(ngModel)]= "model.title" >
        </mat-form-field>
        </div>

        <div class="example-full-width1" style="width=100%">
          <mat-form-field>
           <input matInput placeholder="Take a note" type="text" value="Take a note" name="note" [(ngModel)]= "model.note">
          </mat-form-field>
        </div>
        <div >

        <button matTooltip="Done" matTooltipShowDelay="100" mat-button mat-raised-button type="submit" (click)="!toggle();submitNote()"  >Done</button>
        </div>
        </div>

    <!-- note create here -->
<div class="card-container" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="space-around center">
      <div class="allnotes"  *ngFor="let data of dashDataFirst.reverse()" >
         <!-- ng class logic are required for change class property -->
      <mat-card class="writeNotes1"  [ngClass]="{'writeNotes2':isClassVisible}">
          <!-- <mat-card class="writeNotes1"  [ngClass]="myClasses"> -->
              <div (click)="openDialog(data)">
                  <p>{{data.title}}</p>
                  <p>{{data.note}}</p>
              </div>
              <div class="imageNotes">
                  <img class="img-responsive" matTooltip="remind me" matTooltipShowDelay="100" style="width: 22px;margin-left: 12px" src="assets/icon/remind me.svg">
                  <img class="img-responsive" matTooltip="collabrator" matTooltipShowDelay="100" style="width: 22px;margin-left: 12px" src="assets/icon/collabrator.svg">
                  <img class="img-responsive" matTooltip="color change" matTooltipShowDelay="100"  style="width: 22px;margin-left: 12px"src="assets/icon/color change.svg">
                  <img class="img-responsive" matTooltip="image  add" matTooltipShowDelay="100" style="width: 22px;margin-left: 12px"src="assets/icon/image  add.svg">
                  <img class="img-responsive" matTooltip="archive" matTooltipShowDelay="100"  style="width: 22px;margin-left: 10px"src="assets/icon/archive.svg">

                  <img class="img-responsive" matTooltip="more" matTooltipShowDelay="100" style="width:22px;margin-left: 12px" src="assets/icon/more.svg"  [matMenuTriggerFor]="menu">
                  <mat-menu #menu="matMenu" >
                         <button mat-menu-item type="submit" (click)="deleteNote(data._id)" style="font-size: 13px;">Delete note</button>
                         <button mat-menu-item type="submit" (click)="copyNote(data)" style="font-size: 13px;">copy note</button>
                  </mat-menu>
            </div>
        </mat-card>

      </div>
 </div>
</div>


<!--------------------------------Grid view logic----------------------------------------------------------------->
 <!-- <div  *ngIf="showHide">
   <p *ngFor="let content of fillerContent">{{content}}</p>

   <div  class="notes" (click)="toggle1()" id="bt" *ngIf="!showtoggle1">
       <div > Take a note...</div>
   </div> -->



   <!-- <form class="writeNotes" *ngIf="show" fxLayout="column" fxFlexAlign="auto" #todoForm="ngForm" (ngSubmit)="todoForm.form.valid && submitNote(todoForm.value)"> -->
   <!-- <div class="writeNotes" id="bt" *ngIf="showtoggle1">
   <div  class="example-full-width1" style="width=100%">
   <mat-form-field>
    <input matInput placeholder="Title" type="text" value="Title" name="title" [(ngModel)]= "model.title" >
   </mat-form-field>
   </div>

   <div class="example-full-width1" style="width=100%">
     <mat-form-field>
      <input matInput placeholder="Take a note" type="text" value="Take a note" name="note" [(ngModel)]= "model.note">
     </mat-form-field>
   </div>
   <div style="margin-left: 420px">
   <button matTooltip="Done" matTooltipShowDelay="100" mat-button mat-raised-button type="submit" (click)="!toggle();submitNote()"  >Done</button>
   </div>
   </div> -->
   <!-- </form> -->
 <!-- <div class="card-container"  fxLayoutWrap fxLayoutGap="120px" fxLayoutAlign="center" style=" overflow:hidden;">
   <div class="allnotes"  mat-card fxFlex="700px"  *ngFor="let data of dashDataFirst.slice().reverse()">

       <div class="writeNotes2" >
           <div (click)="openDialog(data)">
               <p>{{data.title}}</p>
               <p>{{data.note}}</p>
           </div>
           <div class="imageNotes">
               <img class="img-responsive" matTooltip="remind me" matTooltipShowDelay="100" style="width: 22px;margin-left: 14px" src="assets/icon/remind me.svg">
               <img class="img-responsive" matTooltip="collabrator" matTooltipShowDelay="100" style="width: 22px;margin-left: 14px" src="assets/icon/collabrator.svg">
               <img class="img-responsive" matTooltip="color change" matTooltipShowDelay="100"  style="width: 22px;margin-left: 14px"src="assets/icon/color change.svg">
               <img class="img-responsive" matTooltip="image  add" matTooltipShowDelay="100" style="width: 22px;margin-left: 14px"src="assets/icon/image  add.svg">
               <img class="img-responsive" matTooltip="archive" matTooltipShowDelay="100"  style="width: 22px;margin-left: 14px"src="assets/icon/archive.svg">

               <img class="img-responsive" matTooltip="more" matTooltipShowDelay="100" style="width:22px;margin-left: 14px" src="assets/icon/more.svg"  [matMenuTriggerFor]="menu">
               <mat-menu #menu="matMenu" >
                      <button mat-menu-item type="submit" (click)="deleteNote(data._id)" style="font-size: 13px;">Delete note</button>
                      <button mat-menu-item type="submit" (click)="copyNote(data)" style="font-size: 13px;">copy note</button>
               </mat-menu>

         </div>
     </div>
   </div>
 </div>
</div> -->
       <!--------------------------------------------------------------- Grid logic over here ------------------------------------------------------------------>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
